<form class="form-horizontal">
  <div class="form-group">
    <label for="curso">Curso</label>
    <input type="text" class="form-control" id="nome" placeholder="Java"
       [(ngModel)]="curso" name="nome">
  </div>

  <div class="form-group">
    <label for="duracao">Duração do Curso</label>
    <input type="text" class="form-control" id="duracao" placeholder="00hs"
       [(ngModel)]="duracao" name="duracao"/>
  </div>

  <button type="submit" class="btn btn-danger" (click)=" metodoCadastra()">
    Cadastra</button>
</form>
<br>
<table class="table table-striped">
   <tr>
     <th>Id</th>
     <th>Cursos</th>
     <th>Duração</th>
     <th>Deleta</th>
     <th>Alterar</th>
   </tr>
   <tr *ngFor="let curso of listarCursos" >
     <th>{{ curso.id }}</th>
     <th><input type="text"  id="nome" class="form-control"  value="{{ curso.nome }}"/></th>
     <th><input type="text"  id="duracao" class="form-control"  value="{{ curso.duracao }}"/></th>
     <th><button class="btn btn-danger" (click)="metodoDeleta()">Excluir</button></th>
     <th><button class="btn btn-danger">Alterar</button></th>
   </tr>
</table>