<form class="form-control">
  <div class="form-group has-success">
    <label for="curso">Curso</label>
    <input type="text" class="form-control" id="nome" placeholder="Java"
       [(ngModel)]="curso" name="nome" aria-describedby="helpBlock2">
  </div>

  <div class="form-group">
    <label for="duracao">Duração do Curso</label>
    <input type="text" class="form-control" id="duracao" placeholder="00hs"
       [(ngModel)]="duracao" name="duracao"/>
  </div>

  <button type="submit" class="btn btn-danger" (click)=" metodoAdicionar()">
    Cadastra
  </button>
</form>
<br>
<app-angular-pesquisar></app-angular-pesquisar>

<br>
<app-angular-form></app-angular-form>