<table class="table table-striped">
  <tr>
    <th>Id</th>
    <th>Cursos</th>
    <th>Duração</th>
    <th>Deleta</th>
    <th>Alterar</th>
  </tr>
  <tr *ngFor="let curso of listarCursos">
    <th>{{ curso.id }}</th>
    <th>
      <input type="text"  id="nome" class="form-control" name="nomeIn" 
      value="{{ curso.nome }}" #nomeIn/>
    </th>
    <th>
      <input type="text"  id="duracao" class="form-control"  name="duracaoIn" 
      value="{{ curso.duracao }}" #duracaoIn/>
    </th>
    <th>
      <button class="btn btn-danger" (click)="metodoDeleta( curso.id )">
        Excluir
      </button>
    </th>
    <th>
      <button class="btn btn-danger" (click)="metodoAlterar( curso.id, nomeIn.value, 
       duracaoIn.value )">
        Alterar
      </button>
    </th>
  </tr>
</table>