<!--form class="form-control">
  <div class="form-group">
     <input type="text" class="form-control" id="buscar" placeholder="nome do curso" 
       [(ngModel)]="buscarNome" name="curso"/>
     <br>
     <button type="submit" class="btn btn-danger" (click)="metodoBuscar()">
       Pesquisar
     </button>
     <button type="submit" class="btn btn-danger" (click)="ngOnInit()">
       Listar
     </button>
  </div>
</form>
<br>
<table class="table table-striped">
  <tr>
    <th>Id</th>
    <th>Cursos</th>
    <th>Duração</th>
    <th>Deleta</th>
    <th>Alterar</th>
  </tr>
  <tr *ngFor="let curso of metodoListarCurso">
    <th>{{ curso.id }}</th>
    <th>
      <input type="text"  id="nome" class="form-control" name="nomeIn" 
      value="{{ curso.nome }}" #nomeIn/>
    </th>
    <th>
      <input type="text"  id="duracao" class="form-control"  name="duracaoIn" 
      value="{{ curso.duracao }}" #duracaoIn/>
    </th>
    <th>
      <button class="btn btn-danger" (click)="metodoDeleta( curso.id )">
        Excluir
      </button>
    </th>
    <th>
      <button class="btn btn-danger" (click)="metodoAlterar( curso.id, nomeIn.value, 
       duracaoIn.value )">
        Alterar
      </button>
    </th>
  </tr>
</table-->

<form [formGroup]="formulario">
<fieldset>
  <p-growl [(value)]="mensagem"></p-growl>
  <legend><button pButton type="button" label="Pesquisar Curso"  
    class="ui-button-primary" (click)="mensagemDom()"></button></legend>
    <br>
  <span class="ui-float-label">
    <input id="float-input" type="text" size="30" pInputText 
    formControlName="buscar" #buscarNome> 
    <label for="float-input">Html</label>

    <button pButton type="button" (click)="metodoBuscar(buscarNome.value)" icon="fa-search"  
    class="ui-button-primary" pTooltip="Pesquisar" tooltipPosition="top">
    </button>

    <button pButton type="button" (click)="metodoListar()" label="Listar"   
    class="ui-button-primary">
    </button>
  </span>
</fieldset>
<br>
<p-dataTable [value]="metodoListarCurso" [paginator]="true" [rows]="8" [responsive]="true" 
 styleClass="col-form">
  <p-column field="id" header="id" styleClass="col-id">
    <ng-template pTemplate="body" let-curso="rowData">
        {{ curso.id }}
    </ng-template>
  </p-column>
  
  <p-column header="Curso" styleClass="col-curso">
    <ng-template pTemplate="body" let-curso="rowData">
       <input  pInputText id="float-input" type="text"
       formControlName="nome" value="{{ curso.nome }}">
    </ng-template>
  </p-column>

  <p-column header="Duração" styleClass="col-duracao">
    <ng-template pTemplate="body" let-curso="rowData">
          <input pInputText id="float-input" type="text"
          formControlName="duracao" value="{{ curso.duracao }}">
    </ng-template>
  </p-column>

  <p-column header="Excluir" styleClass="col-excluir">
      <ng-template pTemplate="body" let-curso="rowData">
          <button pButton icon="fa-trash" (click)="metodoDeleta( curso.id )"
          pTooltip="Deletar" tooltipPosition="top">
          </button>
      </ng-template>
  </p-column>

  <p-column header="Alterar" styleClass="col-alterar">
      <ng-template pTemplate="body" let-curso="rowData">
          <button pButton icon="fa-pencil" (click)="metodoAlterar(curso.id, curso.nome, 
          curso.duracao)" pTooltip="Alterar" tooltipPosition="top">
        </button>
      </ng-template>
  </p-column>
</p-dataTable>
</form>
