<form class="form-inline">
      <div class="form-group">
        <label for="exampleInputName2">Curso</label>
        <input type="text" class="form-control" id="curso" placeholder="Jane Doe"/>
      </div>
      <div class="form-group">
        <label for="exampleInputEmail2">Duração do Curso</label>
        <input type="text" class="form-control" id="exampleInputEmail2" placeholder="jane.doe@example.com"/>
      </div>
      <button type="submit" class="btn btn-default">Cadastra</button>
</form>